body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 20px auto;
    padding: 50px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #fff;
    background-color: #4267B2;
    padding: 10px;
    margin-top: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.person-photo {
    text-align: center;
    margin-bottom: 20px;
}

.person-photo img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.person-details {
    margin-top: 20px;
    margin-left: 50px;
}

.detail {
    display: table;
    margin-bottom: 10px;
}

.label {
    flex-basis: 150px;
    font-weight: bold;
    color: #555;
}

.value {
    color: #333;
}