.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    font-family: Arial, sans-serif;
}

.card img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-bottom: 20px;
}

.card h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.card p {
    font-size: 16px;
    color: #555555;
    margin-bottom: 10px;
}
container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.input-wrapper {
    display: flex;
    margin-right: 10px;
}

.input-wrapper input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.input-wrapper button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    background-color: #007bff;
    color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.input-wrapper button:hover {
    background-color: #0056b3;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.gradient-form {
    background: linear-gradient(to bottom, #eee, #fff);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-container input {
    width: 300px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-container button {
    width: 300px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    background-color: #007bff;
    color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.form-container button:hover {
    background-color: #0056b3;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    margin-top: 20px;
    padding: 20px;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card img {
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
}

.card h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.card p {
    font-size: 16px;
    color: #555555;
    margin-bottom: 10px;
}
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.gradient-form {
    background: linear-gradient(to bottom, #eee, #fff);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-container input {
    width: 300px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-container button {
    width: 300px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    background-color: #353535;
    color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.form-container button:hover {
    background-color: #0056b3;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    margin-top: 20px;
    padding: 20px;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 20px;
}

.card h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.card p {
    font-size: 16px;
    color: #555555;
    margin-bottom: 10px;
}

.response-card .actSport {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 40px;
}

.recettes-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 -10px;
}
.carac-regime {
    background-color: #f1f1f1;
    padding: 20px;
    border-radius: 5px;
    margin-top: 20px;
    text-align: center;
}

.carac-regime h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.carac-regime p {
    font-size: 16px;
    color: #555555;
    margin-bottom: 10px;
}

.livrer-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    background-color: green;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
}

.livrer-button:hover {
    background-color: green;
}


.carac-title {
    font-size: 24px;
    margin-bottom: 10px;
}

.carac-poids,
.carac-duree,
.carac-prix,
.carac-description {
    font-size: 16px;
    color: #555555;
    margin-bottom: 10px;
}

